.container{
    text-align: center
}
.fa-stack{
    color: black;
    padding: 30px;
    height: 3em;
     font-size: 25px;
}
.copyright{
    padding-bottom: 50px;
    text-align: center;
}
.hr-send{
    width: 1000px;
}