.post-preview{
    font-size: 20px;
    display: block;
    box-sizing: border-box;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 10px;
    text-align:left ;
}
.post-preview h2{
    color: #212529;
    font-weight: 900;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.post-preview h3{ 
    font-size: 1.75rem;
    font-weight: 300;
    margin: 0 0 10px;
  color: #0000009e;
    }
.description{
    margin: 0 0 10px;
}
.col-lg-8 hr{
    margin: 7px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;  
    width:750px;   
     
}

